
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    background: #00668d;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form_box{
    width: 600px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.input-row{
    margin-bottom: 14px;
    position: relative;
}
.input-row input:not([type="submit"]),
.input-row select,
.input-row textarea{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 0 3px;
    padding: 10px 15px;
    font-size: 20px;
    color: #000;
    border-radius: 5px;
    background: #d3d1d1;
    border:1px solid transparent;
}
*::-webkit-input-placeholder{
    opacity: 1;
    color: inherit;
}
.input-row textarea{
    height: 100px;
    resize: none;
}
.form_box input[type="submit"]{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    background: #00668d;
    color: #fff;
    display: block;
    margin: 0 auto;
}
.error{
    font-size: 14px;
    color: red;
    font-weight: 700;
    display: none;
}